#--- SATOSA Config ---#
HOST: "127.0.0.1"
PORT: 8092
BASE: "https://example.com"
HTTPS: Yes
INTERNAL_ATTRIBUTES: 'example/internal_attributes.yaml'
PLUGIN_PATH:
  - "example/plugins/backends"
  - "example/plugins/frontends"
BACKEND_MODULES:
  - "oidc_backend"
  - "saml2_backend"
FRONTEND_MODULES:
  - "saml2_frontend"
USER_ID_HASH_SALT: "61a89d2db0b9e1e27d490d050b478fe71f352fddd3528a44157f43e339c6c62d96172bf84233317"
#--- Server Config ---#
SERVER_CERT: "pki/server.crt"
SERVER_KEY: "pki/server.key"
CERT_CHAIN: Null
CONSENT:
  enable: Yes
  rest_uri: "https://localhost:8166"
  redirect: "https://localhost:8166/consent"
  endpoint: "handle_consent"
  sign_key: "pki/consent.key"
  verify_ssl: No
ACCOUNT_LINKING:
  enable: Yes
  rest_uri: "https://localhost:8167"
  redirect: "https://localhost:8167/approve"
  endpoint: "handle_account_linking"
  sign_key: "pki/account_linking.key"
  verify_ssl: No
# Beaker session configuration
# This session can be configured to use database, file, or memory
SESSION_OPTS:
    session.type: "memory"
    session.cookie_expires: Yes  # Expire when the session is closed
    session.auto: Yes
COOKIE_STATE_NAME: "vopaas_state"
STATE_ENCRYPTION_KEY: "vopaas_enc_key dev"
