#--- SATOSA Config ---#
BASE: "https://example.com"
INTERNAL_ATTRIBUTES: 'example/internal_attributes.yaml'
PLUGIN_PATH:
  - "example/plugins/backends"
  - "example/plugins/frontends"
  - "example/plugins/micro_services"
BACKEND_MODULES:
  - "oidc_backend"
  - "saml2_backend"
FRONTEND_MODULES:
  - "saml2_frontend"
MICRO_SERVICES:
  - "statistics_service.yaml"
USER_ID_HASH_SALT: "61a89d2db0b9e1e27d490d050b478fe71f352fddd3528a44157f43e339c6c62d96172bf84233317"
COOKIE_STATE_NAME: "vopaas_state"
STATE_ENCRYPTION_KEY: "vopaas_enc_key dev"
CONSENT:
  enable: Yes
  rest_uri: "https://localhost:8166"
  redirect: "https://localhost:8166/consent"
  endpoint: "handle_consent"
  sign_key: "pki/consent.key"
  verify_ssl: No
ACCOUNT_LINKING:
  enable: Yes
  rest_uri: "https://localhost:8167"
  redirect: "https://localhost:8167/approve"
  endpoint: "handle_account_linking"
  sign_key: "pki/account_linking.key"
  verify_ssl: No
LOGGING:
  version: 1
  formatters:
    standard:
      format: "[%(asctime)-19.19s] [%(levelname)-5.5s]: %(message)s"
  handlers:
    default:
      level: "INFO"
      class: "logging.FileHandler"
      filename: "vopaas.log"
      formatter: "standard"
  loggers:
    satosa:
      handlers: ["default"]
      level: "INFO"
      propagate: Yes
    vopaas:
      handlers: ["default"]
      level: "INFO"
      propagate: Yes
    saml:
      handlers: ["default"]
      level: "WARN"
      propagate: Yes
    oic:
      handlers: ["default"]
      level: "WARN"
      propagate: Yes

