module: vopaas.frontends.saml2_frontend.VOPaaSSamlFrontend
plugin: FrontendModulePlugin
name: Saml2IDP

config:
  idp_config:
    key_file: "pki/new_server.key"
    cert_file: "pki/new_server.crt"
    metadata:
      local: [metadata/sp.xml]

    entityid: <base_url>/<name>/vopaas_proxy.xml
    service:
      idp:
        want_authn_requests_signed: false
        endpoints:
          single_sign_on_service: [] # Leave this empty, the endpoints will be added dynamically when registering endpoints in the module
        name_id_format: ['urn:oasis:names:tc:SAML:2.0:nameid-format:persistent']
        policy:
          default:
            attribute_restrictions: null
            fail_on_missing_requested: false
            lifetime: {minutes: 15}
            name_form: urn:oasis:names:tc:SAML:2.0:attrname-format:uri
        subject_data: idp_subject_data

    xmlsec_binary: "{{ xmlsec_binary }}"

    logger:
      loglevel: info
      rotating: {backupCount: 5, filename: idp.log, maxBytes: 500000}

  state_id: <name>
  base: <base_url>
  endpoints:
    single_sign_on_service:
      'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST': sso/post
      'urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect': sso/redirect
